# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Streamlit cache
.streamlit/

# Logs
*.log

# Data files (optional, if you don't want to commit datasets)
*.csv
*.xlsx
*.parquet